<div id="social-signin-links">
  <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
    <h2><%= Spree.t(:sign_in_through_one_of_these_services) %></h2>
  <% end %>

  <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>

    <!-- these lines were added to fix this issue: github.com/spree-contrib/spree_social/issues/107 -->
    <% url = spree.spree_user_omniauth_authorize_path(provider: method.provider) %>
    <% url.slice!(spree.root_path) %>
    <% url = "/" + url %>

    <%= link_to(content_tag(:i, '', class: "icon-spree-#{method.provider.to_url}-circled"), url, title: Spree.t(:sign_in_with, provider: method.provider)) if method.active %>
  <% end %>
</div>
